{% extends "betterweb_app/base.html" %}

{% block title %}{{ site_name }}{% endblock title %}

{% block style %}
<style type="text/css">
  body {
    padding-top: 50px;
    padding-bottom: 20px;
  }
</style>
{% endblock style %}

{% block links %}
<li class="active">
  <a href="#">Home</a>
</li>
<li>
  <a href="#about">About</a>
</li>
<li>
  <a href="#contact">Contact</a>
</li>
{% endblock links %}

{% block content %}
<div class="jumbotron">
  <div class="container">
    <h1><i class="fa fa-globe"></i> {{ site_name }}</h1>
    <p>Give back for all the good you're given</p>
    <p><a class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <h2>See some statistics</h2>
      <p>See how people are giving back</p>
      <p><a class="btn btn-default" href="#">View statistics <i class="fa fa-beer"></i> &raquo;</a></p>
    </div>
    <div class="col-lg-4">
      <h2>Become a giver</h2>
      <p>Register and help to make the web a better place</p>
      <p><a class="btn btn-default" href="{% url 'userena_signup' %}">Register <i class="fa fa-users"></i> &raquo;</a></p>
    </div>
    <div class="col-lg-4">
      <h2>Become a receiver</h2>
      <p>Allow people to thank you for your contribution</p>
      <p><a class="btn btn-default" href="{% url 'userena_signup' %}">Register <i class="fa fa-globe"></i> &raquo;</a></p>
    </div>
  </div>
  <hr>
  <footer>
    <p>&copy; {{ site_name }} 2014</p>
  </footer>
</div>
{% endblock content %}